.behind {
  background-image: url("behind.jpg");
  background-color: lightgrey;
}

.mainhead {
  padding-top: 11rem;
  padding-bottom: 11rem;
  font-weight: bold;
  color: white;
}

.first {
  padding: 1rem 0 2rem 0;
  margin: 2rem auto 2rem auto;
}

.first p {
  font-size: 18px;
}

.maximize {
  height: 200px;
  max-height: 200px;
}

.icons {
  height: 50px;
  max-height: 50px;
  font-size: 4rem;
}

.icons:hover {
  height: 50px;
  max-height: 50px;
  font-size: 4.5rem; 
}

.fa {
  margin: 2rem;
}

.text {
  padding: 0 3rem 0 3rem;
  text-align: center;
  margin: auto;
}

#green {
  min-height: 30rem;
  background-image: url("h1.jpeg");
  background-size: 100% 100%;
}

#red {
  min-height: 30rem;
  background-image: url("h2.jpeg");
  background-size: 100% 100%;
}

#blue {
  min-height: 30rem;
  background-image: url("h3.jpeg");
  background-size: 100% 100%;
}

.gray {
  padding: 3rem;
  background-color: lightgray;
}

h2 {
  margin: auto;
}

.test {
  top: 2rem;
  text-align: center;
}

.pic {
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
} 

.second {
  padding-top: 7rem;
  padding-bottom: 7rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.ready {
  padding: 2rem;
}
