.behind {
  background-image: url("behind.jpg");
  background-color: lightblue;
}

.mainhead {
  padding-top: 11rem;
  padding-bottom: 11rem;
  font-weight: bold;
  color: white;
}

.icons {
  padding-top: 4rem;
  padding-bottom: 5rem;
  height: 6rem;
}

.fa {
  margin: 2rem;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}
